/config/nginx/**
!/config/nginx/hello.conf
/data/certs/**
!/data/certs/server.crt
!/data/certs/server.csr
!/data/certs/server.key
/data/logs/**
!/data/logs/.gitkeep
/data/mysql/**
!/data/mysql/.gitkeep

# Файли web-проектів
/sites/**
!/sites/.gitkeep

# Інші файли
.idea/
.DS_Store
